<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
        <li class="active"><a href="#">Profiles</a></li>
    </ul>

    <p class="plain">{{ motd }}</p>

    <h3>User Info</h3>
    <p>Some information about your user account.</p>
    
    <ul>
        <li>Enrolled for 2FA: {% if user_info.two_factor_enrolled %}Yes{% else %}No{% endif %}</li>
        <li>Account Disabled: {% if user_info.is_disabled %}Yes{% else %}No{% endif %}</li>
    </ul>

    <h3>Profiles</h3>
    <p>This is a list of profiles. Choose a profile to obtain a configuration.</p>

    <ul>
        {% for item in profiles %}
            <li><span title="{{ item.profile_id }}"><a href="?instance_id={{ instance_id }}&profile_id={{ item.profile_id }}">{{ item.display_name }}</a></span></li>
        {% endfor %}
    </ul>

    {% include 'footer.twig' %}
</body>
</html>
